name: nodered

services:
  nodered:
    image: alex/nodered:custom
    user: root:root
    pull_policy: never
    environment:
      - TZ=Europe/Amsterdam
    ports:
      - "1880:1880"
    volumes:
      - type: bind
        source: /{{ prop_basename }}/nodered/data
        target: /data
      - type: bind
        source: /mnt/data-{{ prop_cmdb.environment }}/nodered/{{ prop_host.hostname }}/backup
        target: /backup
      - type: bind
        source: /{{ prop_basename }}
        target: /alex
      - type: bind
        source: /mnt
        target: /mnt
    restart: unless-stopped

