#!/bin/bash

if [ -z "$(ls -A /{{ prop_basename}}/nodered/data)" ]; then
    cp /{{ prop_basename }}/nodered/defaults/settings.js /{{ prop_basename }}/nodered/data
    cp /{{ prop_basename }}/nodered/defaults/flows.json /{{ prop_basename }}/nodered/data
fi

chmod -R 777 /{{ prop_basename }}/nodered/data

