[
    {
        "id": "949671b2a2173441",
        "type": "tab",
        "label": "Backup",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ea86b8ecf11c117",
        "type": "debug",
        "z": "949671b2a2173441",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "b057bb34e3f960a9",
        "type": "comment",
        "z": "949671b2a2173441",
        "name": "NodeRED axxxx 10.xx.xx.xx",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "12acd13c102702fc",
        "type": "exec",
        "z": "949671b2a2173441",
        "command": "/alex/scripts/nodered.backup.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "5ea86b8ecf11c117"
            ],
            [
                "5ea86b8ecf11c117"
            ],
            [
                "5ea86b8ecf11c117"
            ]
        ]
    },
    {
        "id": "fa3b5ca0215d18d3",
        "type": "cronplus",
        "z": "949671b2a2173441",
        "name": "",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "topic1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 12 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 120,
        "y": 120,
        "wires": [
            [
                "12acd13c102702fc"
            ]
        ]
    },
    {
        "id": "5c6bca7b7d655b52",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-cron-plus": "2.2.4"
        }
    }
]
