#!/bin/bash

mount -a

# Remove current Node-RED data directory contents
if [ -n "$(ls -A /{{ prop_basename}}/nodered/data)" ]; then
    rm -r -f /{{ prop_basename}}/nodered/data/*
fi

# Restore latest backup of Node-RED data directory
if [ -n "$(ls -A /mnt/data-prod/nodered/{{ prop_host.hostname }}/backup)" ]; then
    ls -tr /mnt/data-prod/nodered/{{ prop_host.hostname }}/backup | tail -n 1 | xargs -I {} unzip -o /mnt/data-prod/nodered/{{ prop_host.hostname }}/backup/{} -d /
fi
